 .u-section-1 {
  background-image: url("images/slider1.jpg");
  min-height: 488px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 402px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 308px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 231px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 145px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 80px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 22px auto;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 176px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: -36px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: -36px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 733px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 16px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: 39px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 602px;
  margin: 73px auto 60px 0;
}

.u-section-4 .u-image-1 {
  min-height: 198px;
  background-image: url("images/slider1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-image-2 {
  min-height: 198px;
  background-image: url("images/slider2.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 0 auto 0 16px;
}

.u-section-4 .u-image-3 {
  min-height: 198px;
  background-image: url("images/slider3.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 0 7px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1601px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 533px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 533px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    min-height: 533px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 336px;
  }

  .u-section-4 .u-image-2 {
    min-height: 336px;
  }

  .u-section-4 .u-image-3 {
    min-height: 336px;
  }
}